.accountHeader {
    color: #fff;
    margin-bottom: 2rem;
    margin-top: 15px;
  }
  .accountHeader h2 {
    font-size: 2em;
  }
  .accountHeader .editButton {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
  }
  .accountHeader .userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accountHeader .userForm .inputWrapper, .accountHeader .userForm .userButtons {
    display: flex;
    padding: 5px;
  }
  .accountHeader .userForm .inputWrapper > input {
    padding: 8px;
    font-size: 1rem;
    margin: 5px;
  }
  .accountHeader .userForm .userButtons .btn {
    padding: 10px;
    font-size: 1rem;
    width: 7rem;
    margin: 0 5px;
    color: #8373eb;
    font-weight: 700;
    font-size: 12px;
    border-color: #8373eb;
  }
  .accountHeader .blackTitle {
    color: #12002b;
  }
  .accountHeader .whiteTitle {
    color: white;
  }
  